.button-table {
  position: relative;
  display: inline-block;
  /* margin: 15px; */
  padding: 1px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725ac1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725ac1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725ac1;
}

.button-table:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725ac1;
}

.button-table:active {
  transform: scale(0.9);
}

.TableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
}
.buttonGroup-table {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* gap: 20px; */
  /* border: 2px solid red; */
}
.buttonGroup-table p {
  position: relative;
  display: inline-block;
  /* margin: 15px; */
  padding: 1px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725ac1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  /* border: 2px solid #725AC1; */
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725ac1;
}
.TableContainer {
  width: 100%;
  overflow: auto;
}

.buttonGroup-table {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}

.button-table {
  padding: 5px 30px;
  margin: 0 5px;
  cursor: pointer;
  background-color: rgb(2, 74, 73);
  color: white;
  border: none;
  border-radius: 5px;
}

.button-table:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.flex-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.common-size {
  width: 200px; /* Set a common width */
  height: 40px; /* Set a common height */
  margin: 0; /* Remove default margins */
  padding: 8px; /* Add some padding */
  font-size: 14px; /* Set a common font size */
}
